@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Open+Sans:wght@300&family=The+Nautigal:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}


body{
    font-family: 'Open Sans ', sans-serif;
    font-weight: 200;
    color: #292929;
}

/* heading and logo */

a{
    text-decoration: none;
}

h1 {
    font-family: 'The Nautigal', cursive;
    font-size: 300%;
    text-align: left;
    color: #292929;
}

/* logo animation */
/* code that I adpated to create the background url - https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation1 */

#logo-animation{
    background-color: #D891A2;
    animation-name: logo;
    animation-duration: 7s;

}

@keyframes logo {
    from {background-color: white;}
    to { background-color: #FFD1DC;}
    to {background-color: #D891A2;}

}