@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Open+Sans&family=The+Nautigal:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #292929;
    background-color: #fbf8fb;
}

hr {
    border-top: 20px solid #FAFFCD;
}

/* heading and logo */

a {
    text-decoration: none;
}

a h1 {
    font-family: 'The Nautigal', cursive;
    padding-top: 5px;
    font-size: 400%;
    text-align: center;
    color: #292929;

}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: auto;
}

/* css animation */
/* code that I adapted to create the background animation url - https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation1 */

.css-animation {
    background-color: #D891A2;
    animation-name: logo;
    animation-duration: 10s;

}

@keyframes logo {
    from {
        background-color: #fbf8fb;
    }

    to {
        background-color: #FFD1DC;
    }

    to {
        background-color: #D891A2;
    }

}

/* navigation menu and links*/

/* horizontal navigation inspiration url - https://csswizardry.com/2011/01/create-a-centred-horizontal-navigation/ */

.nav {
    border: #8C344A;
    background-color: #FED1DC;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    font-family: 'Lobster Two', cursive, sans-serif;
    color: #292929;
    display: inline;
    font-size: 150%;
}


.nav a {
    display: inline-block;
    padding: 5px 50px 5px 50px;
}

/* Welcome section */



#welcome-image {
    height: 600px;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../images/sixteen-miles-out-SvbDNnbipj0-unsplash.jpg');
}

#cover-text h1 {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    text-align: center;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(200, 162, 200, .5);

    bottom: 100px;
    right: 150px;

    position: absolute;
}

/* Currently reading section */

#currently-reading {

    padding-top: 10px;
    padding-bottom: 10px;
    border: 10px double rgba(200, 162, 200, .5);
    text-align: center;
    background-color: #fbf8fb;
    margin-left: auto;
    margin-right: auto;

}

#currently-reading h1 {
    font-family: 'Lobster Two', cursive, sans-serif;
    font-size: 200%;
    color: #8C344A;
    padding-bottom: 10px;
}

#currently-reading img{
    max-height: auto;
    max-width: 20%;
    background-size: 20%;
}




/* About us section */

#about-us{
    height: 600px;
}

#left-section{
    padding: 30px, 30px ,30px ,30px;
    width: 50%;
    float: left;
    position: absolute;

}

#about-us img{
    float: right;
    position: relative;
    max-height: auto;
    max-width: 50%;
    background-size: 20%;
}

/* footer */

.footer{
    height: 200px;
    background-color: #D891A2;
    
}

.footer h1{
    font-family: 'Open Sans', sans-serif;
    margin-left: 1px;
}

.social-networks{
    text-align: left;
}

.social-links > li{
    display: inline;

}

.social-links i{
    font-size: 200%;
    margin: 1;
    padding: 3%;
    color: #292929;
}