@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Open+Sans&family=The+Nautigal:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #292929;
    background-color: #fef4fe;
}

hr {
    border-top: 20px solid #FAFFCD;
}

/* heading and logo */

a {
    text-decoration: none;
}

a h1 {
    font-family: 'The Nautigal', cursive;
    padding: 10px;
    font-size: 400%;
    text-align: center;
    color: #292929;

}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: auto;
}

/* css animation */
/* code that I adapted to create the background animation url - https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation1 */

.css-animation {
    background-color: #D891A2;
    width: 100%;
    height: 70px;
    animation-name: logo;
    animation-duration: 10s;

}

@keyframes logo {
    from {
        background-color: #FAF0F2;
    }

    to {
        background-color: #E2ACB9;
    }

    to {
        background-color: #CA687F;
    }

}

/* navigation menu and links*/

/* horizontal navigation inspiration url - https://csswizardry.com/2011/01/create-a-centred-horizontal-navigation/ */

.nav {
    border: 4px double #D891A2;
    background-color: #F4DFE4;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    font-family: 'Lobster Two', cursive, sans-serif;
    color: #292929;
    display: inline;
    font-size: 150%;
}


.nav a {
    display: inline-block;
    padding: 5px 50px 5px 50px;
    text-decoration: none;
    color: #292929;
}

/* Welcome section */

#welcome-image {
    height: 600px;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../images/sixteen-miles-out-SvbDNnbipj0-unsplash.jpg');
}

#cover-text h2 {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    text-align: center;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(200, 162, 200, .5);

    bottom: 100px;
    right: 150px;

    position: absolute;
}

/* About us section */

/* Flexbox guide used URL- https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

#about-us-container {
    display: inline-flex;
    margin: 5%;

}

#about-us-container img {
    height: 200px;
    flex: 1;
    border: #FAF0F2;
    border-radius: 30px;
    margin-top: 10%;
}

#flex-left {
    text-align: left;
    letter-spacing: 2px;
    flex: 1;
    padding: 2px 30px 10px 30px;
}

#flex-left h3 {
    padding-top: 20px;

}

#flex-right {
    text-align: right;
    letter-spacing: 2px;
    flex: 1;
    padding: 2px 30px 2px 30px;

}

#flex-right h3 {
    padding-top: 20px;

}

/* Currently reading section */

#currently-reading{
    display: inline-flex;
    font-family: 'Open Sans', sans-serif;;
    text-transform: uppercase;
    text-align: center;
    font-size: 130%;
    flex-direction: column;
    background-color: rgba(200, 162, 200, .2);
    width: 100%;
}

#currently-reading img{
    height: 400px;
    flex: 1;
    border: #FAF0F2;
    border-radius: 30px;
    margin: 2%;
}

#currently-reading-info{
    margin: 1%;
    flex: 1;
}


/* footer */

/* Footer using Flexbox tutorial used URL - https://www.youtube.com/watch?v=UOnFJ6tu3PY */

footer {
    color: white;
    background-color: #D891A2;
    font-family: 'Open Sans', sans-serif;
    padding: 50px 20px;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container>ul {
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

}

.flex-row-1 li {
    text-align: center;
    letter-spacing: 2px;
    padding: 2px 1px;
}

.flex-row-2>li {
    display: inline;
    padding: 2px 1px;
}

.flex-row-2 i {
    font-size: 200%;
    padding: 0 15px;
    margin-bottom: 5px;
    color: white
}

/* Events */

.title {
    border: 5px double rgba(200, 162, 200, .5);
    margin-top: 15px;
    width: 30%;
    padding: 50px;
    font-family: 'Lobster Two', cursive, sans-serif;
    letter-spacing: 2px;
    font-size: 300%;
    text-align: center;
}

#event-1 {
    margin: 100px;
    border: 3px double #ba89ba;
    padding: 2px;
    text-align: center;
    background-color: #F4DFE4;
}

#event-2 {
    margin: 100px;
    border: 3px double #ba89ba;
    padding: 2px;
    text-align: center;
    background-color: #F4DFE4;
}

#event-3 {
    margin: 100px;
    border: 3px double #ba89ba;
    padding: 2px;
    text-align: center;
    background-color: #F4DFE4;
}

#event-1 img {
    text-align: center;
    max-height: 500px;
    max-width: 50%;

}

#event-2 img {
    text-align: center;
    max-height: 500px;
    max-width: 50%;

}

#event-1 h2 {
    font-family: 'Lobster Two', cursive, sans-serif;
    color: #292929;
    letter-spacing: 2px;
    font-size: 150%;
}


#event-3 img {
    max-height: 500px;
    max-width: 50%;

}

#event-1 h2 {
    font-family: 'Lobster Two', cursive, sans-serif;
    color: #292929;
    letter-spacing: 2px;
    font-size: 200%;
}

#event-2 h2 {
    font-family: 'Lobster Two', cursive, sans-serif;
    color: #292929;
    letter-spacing: 2px;
    font-size: 200%;
}

#event-3 h2 {
    font-family: 'Lobster Two', cursive, sans-serif;
    color: #292929;
    letter-spacing: 2px;
    font-size: 200%;
}

#event-1 h3 {
    font-family: 'Lobster Two', cursive, sans-serif;
    color: #292929;
    letter-spacing: 2px;
    font-size: 150%;
}

#event-2 h3 {
    font-family: 'Lobster Two', cursive, sans-serif;
    color: #292929;
    letter-spacing: 2px;
    font-size: 150%;
}

#event-3 h3 {
    font-family: 'Lobster Two', cursive, sans-serif;
    color: #292929;
    letter-spacing: 2px;
    font-size: 150%;
}


#event-1>p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: #292929;
    font-size: 140%;
}

#event-2>p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: #292929;
    font-size: 140%;
}

#event-3>p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: #292929;
    font-size: 140%;
}



/* Sign up form */

.form-section {
    clear: left;
    background: url('../images/pexels-olya-kobruseva-6906638.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form{
    margin: 150px 10% 0 0;
    color: #fff;
    border: 2px solid rgba(200, 162, 200, 1);
    border-radius: 30px;
    background-color: rgba(200, 162, 200, 1);
    max-width:400px;
    position:absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    font-size: 200%;
    margin-bottom: 20px;
}

.text-input{
    background: transparent;
    color: #fafafa;
    width:100%;
    height:25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover{
    border-color: #CA687F;
}

.join-button{
    margin-top: 20px;
    border-radius:2px;
    padding: 15px 32px 15px 32px;
    text-align:center;
    font-size: 100%;
    background-color: #CA687F;
    color: #fafafa;
    display: block;
}

.join-button:hover{
    background-color:#fafafa;
    color: #CA687F;
}



/*

.form-section {
    clear: both;
    text-align: center;
    background-color: #fbf8fb;
    background-size: cover;
    height: 500px;
}

.signup-form {
    text-align: center;
    margin: 150px 10% 0 0;
    color: #8C344A;
    background-color: rgba(200, 162, 200, .2);
    max-width: 400px;
    left: 40%;
    padding: 30px;
}